

  <div class="row">
    <div class="column">
      <div class="card"><b>Security</b> <br><br> Best in class security</div>
    </div>
    <div class="column">
      <div class="card"><b>Mobile Interaction</b><br><br>Direct conversation with user</div>
    </div>
    <div class="column">
      <div class="card"><b>User Friendly</b><br><br> Easy to use with most efficiency</div>
    </div>
  </div>

    <h1 class="heading" id="sticky-div">Lost Items</h1>
    <div class="content">  
        <div class="section" id="one">
            <h1>Mobile <br> Username </h1><br>
            <img src="assets/img/1.jpg" alt="{Mobile}">
        </div>
        <div class="section" id="two">
            <h1>Mobile <br> Username </h1><br>
            <img src="assets/img/2.jpg" alt="{Mobile}">
        </div>
        <div class="section" id="three">
            <h1>Watch <br> Username </h1><br>
            <img src="assets/img/3.jpg" alt="{Watch}">
        </div>
    </div>

    <h1 class="heading" id="sticky-div">Found Items</h1>
    <div class="content">  
        <div class="section" id="one">
            <h1>Watch <br> Username </h1><br>
            <img src="assets/img/4.jpg" alt="{Watch}">
        </div>
        <div class="section" id="two">
            <h1>Wallet <br> Username </h1><br>
            <img src="assets/img/5.jpg" alt="{Wallet}">
        </div>
        <div class="section" id="three">
            <h1>Pen <br> Username </h1><br>
            <img src="assets/img/6.jpg" alt="{Pen}">
        </div>
    </div>

<!-- <div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
  </div>
  <div class="row">
    <div class="column">
      <img src="assets/img/7.jpg" alt="MITAOE PUNE" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div> -->